<!DOCTYPE html>
<html lang="en" class="light-style customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path="../assets/" data-template="vertical-menu-template-free">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Register - ADHshe</title>
    <meta name="description" content="" />
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../adhshe_icon.png" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />
    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="../assets/vendor/css/pages/page-auth.css" />
    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>
    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <style>
      .toast-top-right {
        top: 12px;
        right: 12px;
      }
    </style>
  </head>
  <body>
    <!-- Content -->
    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Register Card -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <a href="index.html" class="app-brand-link gap-2">
                  <span class="app-brand-logo demo">
                    <img src="../adhshe_icon.png" id="app-brand-logo" style="width: 50px;">
                  </span>
                  <span class="app-brand-text demo text-body fw-bolder" style="text-transform: none;">ADHShe</span>
                </a>
              </div>
              <!-- /Logo -->
              <h4 class="mb-2">Boost Your Productivity</h4>
              <p class="mb-4">Make the most out of your life!</p>
              <form id="formAuthentication" class="mb-3" action="/api/register" method="POST" onsubmit="return validatePassword()">
                <div class="mb-3">
                  <label for="firstname" class="form-label">First Name</label>
                  <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter your First Name" autofocus required />
                </div>
                <div class="mb-3">
                  <label for="lastname" class="form-label">Last Name</label>
                  <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter your Last Name" required />
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" title="Enter a valid email address" required />
                </div>
                <div class="mb-3 form-password-toggle">
                  <label class="form-label" for="password">Password</label>
                  <div class="input-group input-group-merge">
                    <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" required />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                </div>
                <div class="mb-3 form-password-toggle">
                  <label class="form-label" for="confirm-password">Confirm Password</label>
                  <div class="input-group input-group-merge">
                    <input type="password" id="confirm-password" class="form-control" name="confirmPassword" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" required />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                    <div id="passwordError" class="text-danger mt-2" style="display: none;">Passwords do not match</div>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="terms-conditions" name="terms" />
                    <label class="form-check-label" for="terms-conditions">
                      I agree to <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#privacyPolicyModal">privacy policy & terms</a>
                    </label>
                  </div>
                </div>
                <button class="btn btn-primary d-grid w-100">Sign up</button>
              </form>
              <p class="text-center">
                <span>Already have an account?</span>
                <a href="auth-login-basic.html">
                  <span>Sign in instead</span>
                </a>
              </p>
            </div>
          </div>
          <!-- Register Card -->
        </div>
      </div>
    </div>
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>
    <!-- Page JS -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
      // Function to validate email format
      function validateEmail(emailInput) {
        var email = emailInput.value;
        var emailError = document.getElementById("emailError");
        var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
    
        if (emailPattern.test(email)) {
          emailError.style.display = "none"; // Hide error if email is valid
          return true;
        } else {
          emailError.style.display = "block"; // Show error if email is invalid
          toastr.error("Please enter a valid email address");
          return false;
        }
      }
    
      // Event listener to validate email on input change
      document.getElementById("email").addEventListener("input", function() {
        validateEmail(this);
      });
    </script>
    <script>
      function validatePassword() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirm-password").value;
        var passwordError = document.getElementById("passwordError");

        //var passwordPattern = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;

        if (password !== confirmPassword) {
          passwordError.style.display = "block"; // Show the error message
          toastr.error("Passwords do not match");
          return false; // Prevent form submission
        } else {
          passwordError.style.display = "none"; // Hide the error message
          return true; // Allow form submission
        }
      }

      
      // Function to handle form submission
      document.getElementById("formAuthentication").addEventListener("submit", function (event) {
        event.preventDefault(); // Prevent default form submission

         // Check if terms and conditions checkbox is checked
        if (!document.getElementById("terms-conditions").checked) {
          toastr.error("Please read & accept the privacy policy and terms");
          return; // Stop form submission
        }

        if (validatePassword()) {
          // Perform AJAX request to submit the form
          $.ajax({
            type: "POST",
            url: "/api/register",
            data: $(this).serialize(),
            success: function (response) {
              // Show toaster notification
              toastr.success("User registered successfully");
              // Optionally, redirect or perform other actions
              setTimeout(function() {
                window.location.href = "auth-login-basic.html";
              }, 1500); // Delay to show the toaster message
            },
            error: function (error) {
              // Handle error response
              toastr.error("Registration failed. Sign in if you are already registered");
            },
          });
        }
      });
    </script>

    <div id="privacyPolicyModal" class="modal fade">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Privacy Policy & Terms</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <h6>Effective Date: 12th July 2024</h6>
              <p>Thank you for using adhshe, a women ADHD health tracker app ("App"). This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use our App. Please read this policy carefully. If you do not agree with the terms of this privacy policy, please do not access the App.</p>

              <h6>1. Information We Collect</h6>
              <p><strong>Personal Information:</strong> We may collect personally identifiable information that you provide to us, including but not limited to your name, email address, and any other information you provide when using the App.</p>
              <p><strong>Non-Personal Information:</strong> We may collect non-personal information such as your device type, operating system, and usage data when you interact with our App.</p>

              <h6>2. How We Use Your Information</h6>
              <p>We may use the information we collect in the following ways:</p>
              <ul>
                <li>To provide, operate, and maintain our App.</li>
                <li>To improve, personalize, and enhance your experience.</li>
                <li>To understand and analyze how you use our App.</li>
                <li>To develop new products, services, features, and functionality.</li>
                <li>To communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the App, and for marketing and promotional purposes.</li>
                <li>To process your transactions and manage your orders.</li>
              </ul>

              <h6>3. Disclosure of Your Information</h6>
              <p>We may share your information with third parties only in the ways that are described in this Privacy Policy:</p>
              <ul>
                <li>With vendors, consultants, and other service providers who need access to such information to carry out work on our behalf.</li>
                <li>In response to a request for information if we believe disclosure is in accordance with, or required by, any applicable law, regulation, or legal process.</li>
                <li>If we believe your actions are inconsistent with our user agreements or policies, or to protect the rights, property, and safety of ourselves and others.</li>
              </ul>

              <h6>4. Security of Your Information</h6>
              <p>We use administrative, technical, and physical security measures to help protect your personal information. While we have taken reasonable steps to secure the personal information you provide to us, please be aware that despite our efforts, no security measures are perfect or impenetrable.</p>

              <h6>5. Changes to This Privacy Policy</h6>
              <p>We may update this Privacy Policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal, or regulatory reasons.</p>

              <h6>6. Contact Us</h6>
              <p>If you have any questions about this Privacy Policy, please contact us at +1(437)-669-1212.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
